.icon {
   width: 2em; height: 2em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

body{
	margin: 0;
	overflow: hidden;
}

#canvas{
	background: white;
}

.action{
	position: fixed;
	top:20px;
	left: 20px;
	cursor: pointer;
	user-select: none;
}

.action svg{
	transition: all 0.3s;
	padding: 3px;
	margin: 0 5px;
}

.action svg.active{
	fill:purple;
}

ol{
	list-style: none;
}


.normal, .bold{
	display: flex;
	align-items: center;
	justify-content: center;

}

li{
	width: 30px;
	height: 30px;
	border: 2px solid #ccc;
	border-radius: 50%;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	font-weight: bolder;
	font-size: 15px;
	cursor: pointer;
	margin-left: 20px;
	margin-bottom: 10px;
}

.colors{
	padding:0; 
	position: fixed;
	left: 0;
	top:60px;
}

.fontWeight{
	padding: 0;
	position: fixed;
	left: 0;
	top:236px;
}

.black{
	background: black;
}

.red{
	background: red;
}

.green{
	background: green;
}

.blue{
	background: blue;
}


.active{
	transform: scale(1.1);
}

